<form class="row g-3" [formGroup]="repairForm" (ngSubmit)="onSubmitForm()">
    <div class="alert alert-danger text-center text-danger p-2" role="alert" *ngIf="response?.metaData?.errors?._global_">{{response.metaData.errors._global_}}</div>
    <p class="text-secondary">Pour ajouter une reparation, merci de remplir les champs suivants :</p>
    <div class="col-12">
        <label for="motif" class="form-label">Motif</label>
        <input
            type="text"
            name="motif"
            id="motif"
            [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_}"
            formControlName="motif"
            required>
        <!-- <div class="invalid-feedback">Error</div> -->
    </div>

    <div class="col-12">
        <label for="montant" class="form-label">Montant</label>
        <input 
            type="text" 
            name="montant" 
            [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_ || response?.metaData?.errors?.montant}"
            id="montant"
            formControlName="montant"
            required>
        <div class="invalid-feedback">{{response?.metaData?.errors?.montant}}</div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary w-100 spinner-container" type="submit" [disabled]="isLoading" *ngIf="isLoading">
            <span class="lds-dual-ring"></span>
          </button>
          <button class="btn btn-primary w-100" type="submit" *ngIf="!isLoading" [disabled]="repairForm.invalid">Ajouter</button>
    </div>
</form>
