<section class="section dashboard">
  <div class="row">
    <!-- Temps reparations moyen Card -->
    <div class="col">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Temps reparations moyen</h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-stopwatch"></i>
            </div>
            <div class="ps-3">
              <h6>2 Jours</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End Temps reparations moyen Card -->
  </div>
  <div class="row">
    <!-- Chiffre d'affaire par jour -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Chiffre d'affaire par jour</h5>
          <canvas id="chiffreAfaireJour" style="max-height: 400px;">{{ chartchiffreAfaireJour }}</canvas>
        </div>
      </div>
    </div>
    <!-- End Chiffre d'affaire par jour -->
    <!-- Chiffre d'affaire par jour -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Chiffre d'affaire par mois</h5>
          <canvas id="chiffreAffaireMois" style="max-height: 400px;">{{ chartchiffreAffaireMois }}</canvas>
        </div>
      </div>
    </div>
    <!-- End Chiffre d'affaire par jour -->
  </div>
</section>