<div *ngIf="isSubscribe" class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <!-- Logo -->
          <!-- <div class="d-flex justify-content-center py-4 w-100">
            <a href="index.html" class="logo d-flex align-items-center w-auto">
              <img src="assets/img/icons/car.png" alt="">
              <span class="d-none d-lg-block">E-garrage</span>
            </a>
          </div> -->
          <!-- End Logo -->

          <div class="card mb-3 decoration">

            <div class="card-body">

              <a href="index.html" class="logo d-flex align-items-center justify-content-center w-100">
                <img src="assets/img/icons/car.png" alt="">
              </a>
              <div class="pt-4 pb-2">
                <h5 class="card-title pb-0 fs-4">Félicitations!! Votre compte a été créé 👋</h5>
                <p class="text-secondary">Merci de valider votre compte en accédant au lien dans l'email que nous vous avons envoyé.</p>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>


<div *ngIf="!isSubscribe" class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <!-- Logo -->
            <!-- <div class="d-flex justify-content-center py-4 w-100">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/icons/car.png" alt="">
                <span class="d-none d-lg-block">E-garrage</span>
              </a>
            </div> -->
            <!-- End Logo -->

            <div class="card mb-3 decoration">

              <div class="card-body">

                <a href="index.html" class="logo d-flex align-items-center justify-content-center w-100">
                  <img src="assets/img/icons/car.png" alt="">
                </a>
                <div class="pt-4 pb-2">
                  <h5 class="card-title pb-0 fs-4">Bienvenue sur E-Garazy 👋</h5>
                  <p class="text-secondary">Creer un compte et commencer l'aventure</p>
                </div>

                <form class="row g-3" [formGroup]="utilisateurForm" (ngSubmit)="onSubmitForm()">
                  <div class="alert alert-success text-center text-success p-2" role="alert" *ngIf="response?.data">{{response.statusMessage}}</div>
                  <div class="alert alert-danger text-center text-danger p-2" role="alert" *ngIf="response?.metaData?.errors?._global_">{{response.metaData.errors._global_}}</div>
                  <div class="col-md">
                    <label for="nom" class="form-label">Nom</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nom"
                      [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_}"
                      required>
                  </div>
                  <div class="col-md">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input
                      type="text"
                      class="form-control"
                      id="prenom"
                      [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_}"
                      required>
                  </div>
                  <div class="col-12">
                    <label for="pseudo" class="form-label">Pseudo</label>
                    <input
                      type="text"
                      id="pseudo"
                      formControlName="pseudo"
                      [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_ || response?.metaData?.errors?.pseudo}"
                      required>
                    <div *ngIf="response?.metaData?.errors?.pseudo" class="invalid-feedback">
                      {{response.metaData.errors.pseudo}}
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      id="email"
                      [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_ || response?.metaData?.errors?.email}"
                      formControlName="email"
                      class="form-control"
                      required>
                    <div *ngIf="response?.metaData?.errors?.email" class="invalid-feedback">
                      {{response.metaData.errors.email}}
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Mot de passe</label>
                    <input
                      type="password"
                      name="motDePasse"
                      class="form-control"
                      id="yourPassword"
                      formControlName="motDePasse"
                      [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_ || response?.metaData?.errors?.motDePasse}"
                      required>
                    <div *ngIf="response?.metaData?.errors?.motDePasse" class="invalid-feedback">
                      {{response.metaData.errors.motDePasse}}
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100 spinner-container" type="submit" [disabled]="isLoading" *ngIf="isLoading">
                      <span class="lds-dual-ring"></span>
                    </button>
                    <button class="btn btn-primary w-100" type="submit" *ngIf="!isLoading">S'inscrire</button>
                  </div>
                  <div class="col-12">
                    <hr>
                    <p class="text-center small mb-0">Vous avez déjà un compte ? <a href="#" (click)="goToLoginPage($event)">Se connecter</a></p>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
  </div>
