.drag-drop-list {
    padding: 10px;
    border: solid 1px #ccc;
    /* display: block; */
    background: white;
    border-radius: 4px;
    /* overflow: hidden; */
}

.drag-drop-list-item {
    padding: 10px 10px;
    border-bottom: solid 1px #ccc;
    cursor: move;
    background: white;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-list-item:last-child {
    border: none;
}

.drag-drop-list.cdk-drop-list-dragging .drag-drop-list-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}