<section class="section">
	<div class="row mb-3">
		<!-- <div class="col-lg-3">
			<select class="form-select" aria-label="Default select example">
				<option value="1">Assigner a moi</option>
				<option value="2">Non assigner</option>
			</select>
		</div> -->
		<div class="col-lg-3">
			<select class="form-select" [(ngModel)]='statusSelect' (change)="filterDepot($event)">
				<option value="En cours">En cours</option>
				<option value="Terminée">Terminée</option>
			</select>
		</div>
	</div>
	<div class="row adivgn-items-top">
		<!-- Voiture  -->
		<div class="col-lg-3" *ngFor="let depot of depotsFiltre">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title d-flex justify-content-between">
						{{depot.getVoiture()?.getMarque()}}
						<span class="badge bg-primary rounded text-white">{{depot.getVoiture()?.getMatricule()}}</span>
					</h5>
					<div>
						<div>Responsable : <span class="text-muted">{{depot.getResponsable()?.getEmail()}}</span></div>
						<div>Date de depot : <span class="text-muted">{{depot.getDateDepot() | date:'longDate':undefined:'fr'}}</span></div>
						<div>Date de récuperation : <span class="text-muted">{{depot.getDateRecuperation() | date:'longDate':undefined:'fr'}}</span></div>
						<div>Date de debut réparation :  <span class="text-muted">{{depot.getDateDebutReparation() | date:'longDate':undefined:'fr'}}</span></div>
						<div>Date de fin réparation : <span class="text-muted">{{depot.getDateFinReparation() | date:'longDate':undefined:'fr'}}</span></div>
						<div>
							Réparation(s) : 
							<ul>
								<li *ngFor="let reparation of depot.getReparations()"><span class="text-muted">{{reparation.getMotif()}}</span></li>
								<li>
									<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#car-form-modal" (click)="setIdDepotToUpdate(depot.getId())">
										Ajouter<i class="bi bi-plus-circle-fill ms-2"></i>
								  	</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<Button class="btn btn-primary w-100">Assigner a moi</Button>
					<Button class="btn btn-success w-100" *ngIf="depot.getDateFinReparation() == undefined" (click)="finish(depot.getId())">Terminer</Button>
				</div>
			</div>
		</div>
		<!-- End Voiture  -->


		<!-- Reparation Form Modal -->
		<div class="modal fade" id="car-form-modal" tabindex="-1" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Ajout Reparation</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #btnCloseFormReparationModal></button>
                </div>
                <div class="modal-body">
                  <app-repair-form [btnCloseModal] = "btnCloseFormReparationModal" [idDepot]="idDepotToUpdate"></app-repair-form>
                </div>
              </div>
            </div>
          </div>
          <!-- End Reparation Form Modal-->

	</div>
</section>