<form class="row g-3" [formGroup]="voitureForm" (ngSubmit)="onSubmitForm()">
    <div class="alert alert-danger text-center text-danger p-2" role="alert" *ngIf="response?.metaData?.errors?._global_">{{response.metaData.errors._global_}}</div>
    <p class="text-secondary">Pour ajouter une voiture, merci de remplir les champs suivants :</p>
    <div class="col-12">
        <label for="marque" class="form-label">Marque</label>
        <input
            type="text"
            name="marque"
            id="marque"
            [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_}"
            formControlName="marque"
            required>
        <!-- <div class="invalid-feedback">Error</div> -->
    </div>

    <div class="col-12">
        <label for="matricule" class="form-label">Matricule <span class="small d-block">(De la forme XXXXYYY ou X designe un chiffre et Y designe un nombre)</span></label>
        <input 
            type="text" 
            name="matricule" 
            [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_ || response?.metaData?.errors?.matricule}"
            id="matricule"
            formControlName="matricule"
            required>
        <div class="invalid-feedback">{{response?.metaData?.errors?.matricule}}</div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary w-100 spinner-container" type="submit" [disabled]="isLoading" *ngIf="isLoading">
            <span class="lds-dual-ring"></span>
          </button>
          <button class="btn btn-primary w-100" type="submit" *ngIf="!isLoading && !isUpdate()" [disabled]="voitureForm.invalid">Ajouter</button>
          <button class="btn btn-primary w-100" type="submit" *ngIf="!isLoading && isUpdate()" [disabled]="voitureForm.invalid">Modifier</button>
    </div>
</form>
