 /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/
 .content {
 	display: flex;
 	flex-direction: column;
	height: 100vh;
 }

 /*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
 main.main {
	flex-grow: 2;
 }

 /*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
 .footer {
 	flex-grow: 1;
	max-height: 50px;
 	padding: 10px 0;
 	font-size: 14px;
 	transition: all 0.3s;
 	border-top: 1px solid #cddfff;
 }

 .footer .copyright {
 	text-align: center;
 	color: #012970;
 }