.nofification{
    z-index: 10000000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 2px;
    font-size: 14px;
    animation: animatetop 1s
}

#error-message{
    background-color: rgb(255, 21, 21);
    color: white;
    animation: animatetop 1s
}

#success-message{
    background-color: rgb(19, 255, 70);
    color: rgb(0, 0, 0);
    animation: animatetop 1s
}

@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    } 
    to{ 
        top:0;
        opacity:1
}}