<div class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-5 d-flex flex-column align-items-center justify-content-center">

          <!-- Logo -->
          <!-- <div class="d-flex justify-content-center py-4 w-100">
            <a href="index.html" class="logo d-flex align-items-center w-auto">
              <img src="assets/img/icons/car.png" alt="">
              <span class="d-none d-lg-block">E-garrage</span>
            </a>
          </div> -->
          <!-- End Logo -->

          <div class="card mb-3 decoration">

            <div class="card-body">

              <a href="index.html" class="logo d-flex align-items-center justify-content-center w-100">
                <img src="assets/img/icons/car.png" alt="">
              </a>
              <div class="pt-4 pb-2">
                <h5 class="card-title pb-0 fs-4">Bienvenue sur E-Garazy 👋</h5>
                <p class="text-secondary">Veuillez vous connecter à votre compte et commencer l'aventure</p>
              </div>

              <form class="row g-3" [formGroup]="utilisateurForm" (ngSubmit)="onSubmitForm()">
                <div class="alert alert-danger text-center text-danger p-2" role="alert" *ngIf="response?.metaData?.errors?._global_">{{response.metaData.errors._global_}}</div>
                <div class="col-12">
                  <label for="yourUsername" class="form-label">Email</label>
                  <input
                    type="text"
                    name="yourUsername"
                    id="yourUsername"
                    formControlName="email"
                    [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_ || response?.metaData?.errors?.email}"
                    required>
                  <div *ngIf="response?.metaData?.errors?.email" class="invalid-feedback">
                    {{response.metaData.errors.email}}
                  </div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Mot de passe</label>
                  <input
                    type="password"
                    name="password"
                    formControlName="motDePasse"
                    [ngClass]="{'form-control' : true, 'is-invalid' : response?.metaData?.errors?._global_ || response?.metaData?.errors?.motDePasse}"
                    id="yourPassword"
                    required>
                  <!-- <div class="invalid-feedback">Please enter your password!</div> -->
                </div>

                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 spinner-container" type="submit" [disabled]="isLoading" *ngIf="isLoading">
                    <span class="lds-dual-ring"></span>
                  </button>
                  <button class="btn btn-primary w-100" type="submit" *ngIf="!isLoading">Se connecter</button>
                </div>
                <div class="col-12">
                  <hr>
                  <p class="text-center small mb-0">Vous n'avez pas de compte? <a href="#" (click)="goToRegisterPage($event)">Créer un compte</a></p>
                </div>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>
